# Ignore:
# all subdirectories beginning with underscore
_*/
_*/*/

# OpenOffice temporary files
*.*\#

# Other temporary files
*.*~


# Images
*.jpg
*.pdf
*.avi

# Audio files
*.mp3

# Executables
*.exe
*.bat

# LaTeX temporary files
*.aux
*.log
*.undo
*.blg

# Corel Designer backup files
Backup_of_

# Temporary MS Office files
~*

# Java Eclipse project
# Directories #
/build/
/bin/
target/
# OS Files #
.DS_Store
*.class
# Package Files #
*.jar
*.war
*.ear
*.db
######################
# Windows
######################
# Windows image file caches
Thumbs.db
# Folder config file
Desktop.ini
######################
# Eclipse
######################
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
/src/main/resources/rebel.xml
# External tool builders
.externalToolBuilders/
# Locally stored "Eclipse launch configurations"
*.launch
# CDT-specific
.cproject
# PDT-specific
.buildpath
